{% extends "OCCoreBundle::layout.html.twig" %}
    {% block title %}
        WelcomePage OCCoreBundle
    {% endblock %}

    {% block occore_body %}
        <h1>Welcome on My Symfony App</h1>

        {% for message in app.session.flashbag.get('advise') %}
                <p class="well">Message Flash: {{ message }}</p>
        {% endfor %}

    {% endblock %}
