{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}
    <a href="{{ path("oc_platform_home") }}">Home</a>

    <h2>Add a new advert</h2>

    {{ include("OCPlatformBundle:Advert:form.html.twig") }}

    <div>
        {% for message in app.session.flashbag.get('info') %}
            <p>Message Flash: {{ message }}</p>
        {% endfor %}
    </div>

    <p>
        Please note that this advert will be directly display on the homepage once it is submitted.
    </p>

{% endblock %}