<h3>Formulaire d'annonce</h3>

{# On laisse vide la vue pour l'instant, on la comblera plus tard
   lorsqu'on saura afficher un formulaire. #}
<h3>Form for the advert</h3>
<div class="well">
    {{ form(form) }}
</div>