{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Affichage de l'annonce {{ id }}</title>
    </head>

    <body>
    <a href="{{ path("oc_platform_home") }}">Home</a>
        <h1>Hello Annonce n°{{ id }} !</h1>

        <p>
            Ici nous pourrons lire l'annonce ayant comme id : {{ id }}<br />
            Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
        </p>
    </body>
</html>
